.bottom-article {
    height: 35vh;
    display: flex;
    @include mobile-only{
        height : auto;
        flex-direction: column;
    }
    & section {
        padding : 70px 50px;
        width : 40%;
        @include mobile-only{
            width : 80%;
            padding : 0;
            margin : auto;
        }
        & h2 {
            font-weight: 700;
            font-size: 13px;
            letter-spacing: 5px;
        }
        & p {
            @include paragraph-style();
        }
    }
    & img {
        width : 30%;
        @include mobile-only{
            width : 100%;
        }
    }
}
