header {
    display : flex;
    align-items: center;
    color : white;
    position: absolute;
    top : 60px;
    & h1{
        margin : 0 70px;
    }
    & ul {
        margin :0;
        margin-top : 15px;
        padding : 0;
        display: flex;
        justify-content: space-around;
        & li{
            list-style-type: none;
            margin-right : 50px;
            & a{
                color : white;
                text-decoration: none;
            }
            &::after{
                content: '';
                display : block;
                width : 20px;
                height : 2px;
                margin : 5px auto;
                background-color: $white;
                opacity: 0;
            }
            &:hover::after{
                opacity: 100%;
            }
        }
        
    }
}