.top-article {
    height: 65vh;
    width: 100%;
    display: flex;
    @include mobile-only {
        height: auto;
        flex-direction: column;
    }
    &__image {
        width: 60%;
        @include tablet-only{
            width : 50%;
        }
        @include mobile-only {
            width: 100%;
        }
    }
    &__right-corner {
        width: 40%;
        position: relative;
        @include tablet-only{
            width : 50%;
        }
        @include mobile-only {
            width: 100%;
            padding: 0;
        }
        & section {
            width: 410px;
            //margin: 110px 0 0 100px;
            margin : 110px auto 0 auto;
            @include mobile-only {
                margin: 60px auto;
                width: 80%;
                height: 100%;
            }
            & .top-article__text {
                padding: 0;
                max-width: 500px;
                height: fit-content;
                margin-top: 80px;
                @include mobile-only {
                    margin: auto;
                    max-width: none;
                }

                & h2 {
                    font-weight: 600;
                    font-size: 40px;
                    letter-spacing: -1px;
                    margin-top: 0;
                    margin-bottom: 20px;
                    @include mobile-only{
                        font-size : 30px;
                    }
                }
                & p {
                    @include paragraph-style();
                }
                & .shop-now {
                    color: $black;
                    letter-spacing: 11px;
                    margin-top: 25px;
                    cursor: pointer;
                    &__arrow {
                        margin-left: 30px;
                    }
                    @include mobile-only {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}

.change-slide-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 170px;
    height: 80px;
    display: flex;
    @include mobile-only {
        width : 110px;
        height : 60px;
        right: 0;
        left: auto;
    }
}

.arrow-container {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: $black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
        background-color: $very-dark-grey;
    }
    & img{
        @include mobile-only{
            height : 16px;
        }
    }
}

.mobile-top-article-img-container {
    position: relative;
    height: min-content;
    line-height: 0;
}
