@mixin paragraph-style() {
    font-family: "Spartan", sans-serif;
    font-weight: 600;
    font-size: 12.5px;
    color: $dark-grey;
    line-height: 180%;
    letter-spacing: -1px;
}

@mixin small-screen-only{
    @media(max-width: $breakpoint-small-screen){
        @content;
    }
}

@mixin medium-screen-only{
    @media(max-width: $breakpoint-medium-screen){
        @content;
    }
}