@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
@import './utils/variables';
@import './utils/mixins';
@import './layouts/header';
@import './layouts/top-article';
@import './layouts/bottom-article';

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size : 12px;
}